.shakes img{
    border:5px solid #222;
}
article{
    font-family: 'Noto Sans', sans-serif;
      text-align: center;
}

body{
  background-image: url(../img/binding_dark.png);
}

.shakes{
    text-align: center;
}
.insult{
    text-align: center;
}
.current{
font-weight:700;
}

.current.player{
background-color: #fff829;
}


header {
margin-bottom:20px;
}

h1 a{
 display:block;
 width:1170px;
 height:300px;
 background:url(../img/shakesHeader.png) left top no-repeat;
 text-indent:-9999px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}