.shakes img{
  border:5px solid #222;
    width: 177px;
    height: 225px;
}
article{
    font-family: 'Noto Sans', sans-serif;
      text-align: center;
      padding: 20px;
}

.shakes{
    text-align: center;
}
.insult{
    text-align: center;
}
.current{
font-weight:700;
}
footer{
  padding:20px;
}

header {
margin-bottom:20px;
}

h1 a{
 display:block;
 width:1170px;
 height:300px;
 background:url(../img/shakesHeader.png) left top no-repeat;
 text-indent: -9999px;
 direction: ltr;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}