.shakes img{
    border:5px solid #222;
}
article{
    font-family: 'Noto Sans', sans-serif;
      text-align: center;
}

.shakes{
    text-align: center;
}
.insult{
    text-align: center;
}
.current{
font-weight:700;
}

.current.player{
background-color: #fff829;
}


header {
margin-bottom:20px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}